langchain_ollama
langchain_chroma
langchain_community
langchain
langchain-google-genai
langchain-openai
langchain-anthropic
fastapi
uvicorn[standard]
python-multipart
pypdf
pandas
openpyxl
pysqlite3-binary
langgraph
duckduckgo-search>=6.0.0
ollama
ddgs
google-generativeai