fastapi
uvicorn[standard]
python-multipart
pydantic
chromadb
langchain
langchain-community
langchain-google-genai
langchain-chroma
langchain-ollama
pypdf
google-generativeai
edge-tts
google-genai
requests
pymupdf
ollama
ddgs
python-dotenv
faster-whisper
python-docx
httpx
numpy
websockets